<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="{{ '/favicon.ico' | url }}"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ meta.title }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/css/reset.css' | url }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/css/style.css' | url }}"
    />
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>
</html>
